#
######### Pip3 Requirements for the Black Widow Server #########
#
######### May have to add versions specifiers

flask==1.1.1
python-dotenv
requests==2.23.0
unique-id==1.0.1
Flask_Pymongo==2.3.0
pymongo==3.10.1