#
######### Pip3 Requirements for the Black Widow Server #########
#
######### May have to add versions specifiers

flask==1.1.1
requests==2.23.0
unique-id==1.0.1
python-dotenv==0.12.0
Flask_Pymongo==2.3.0
pymongo==3.10.1
celery==5.2.2
python-dotenv==0.12.0
flower==0.9.4